<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MoreText.js: 一用就愛上的中文假文產生器</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/text.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/960.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/application.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/base-min.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/coderay.css" type="text/css">
</head>
<body>
    <div id="wrap-background">
    <div id="wrap-foreground">

    <div class="container_12 clearfix">
        <div id="hd" class="grid_12">
            <h1><a href="/">MoreText.js: 一用就愛上的中文假文產生器</a></h1>
            <div class="leafage"></div>
            <div class="sunshine"></div>
        </div>

        <div class="grid_12 clearfix">
            <p>這個網站的文字(幾乎)都是自動產生出來的。特別是以下幾大段。</p>
        </div>

        <div class="grid_6"><h2 class="lipsum"></h2><div class="lipsum(20)"></div></div>
        <div class="grid_6"><h2 class="lipsum"></h2><div class="lipsum(20)"></div></div>
        <hr class="clear">

        <div class="grid_4"><h2 class="lipsum"></h2><div class="lipsum(10)"></div></div>
        <div class="grid_4"><h2 class="lipsum"></h2><div class="lipsum(10)"></div></div>
        <div class="grid_4"><h2 class="lipsum"></h2><div class="lipsum(10)"></div></div>
        <hr class="clear">

        <div class="grid_12 clearfix">
            <h2>這些文字到底是什麼意思？</h2>
            <p>是什麼意思並不重要，因為它們全是自動產生出來的。是我們在各處尋找公有領域的文本做為語料，打亂之後重新組合的產物。</p>

            <h2>我還是不理解為何網站上要出現這些不明意義的文字</h2>
            <p>這類文字的主要用途不在於讓大眾閱讀，而是讓設計師拿來做為填充版面的內容物。類似的工具還有李怡志先生的<a href="http://www.richyli.com/tool/loremipsum/">亂數假文產生器</a>。</p>

            <h2>使用者見証</h2>
            
            <p><q>MoreText 是劃世代的發明，讓我製作網站得心應手。</q> - <a href="http://twitter.com/hlb">hlb</a></p>
            <p><q>MoreText 是一個帥氣的服務，我用了三分鐘後，就再也離不開它了，而且，它產生的語料庫有時很好笑...</q> - <a href="http://twitter.com/sillyleo">Leo</a></p>
            <p><q>MoreText 讓測試網頁文字寬容度更為方便，且逗趣的文字讓設計過程增添不少樂趣。</q> - <a href="http://twitter.com/EvenWu">EvenWu</a></p>

            <h2>喜歡我們產生的文字嗎？你也可以在自己網站動態產生。</h2>
            <ol>
                <li>在你的網站加上這段語法：
                    <textarea class="sample-code" rows="5">&lt;script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script src="http://more.handlino.com/javascripts/moretext-1.0.js" type="text/javascript"&gt;&lt;/script&gt;</textarea>
                </li>
                <li>在想要填入文字的標籤加上 <code>class="ipsum(1)"</code>，括號裡的數字代表你希望填入多少句話。省略括號時則為一句。
                    <textarea class="sample-code" rows="2">長官勉勵我們：「&lt;span class="lipsum"&gt;&lt;/span&gt;」</textarea>
                </li>
                <li>搞定了！長官勉勵我們：「<span class="lipsum"></span>」
                </li>
            </ol>
            
        </div>

        <div class="grid_2">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <p>
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="98VBU77SX65ES">
                <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypal.com/zh_HK/i/scr/pixel.gif" width="1" height="1">
                </p>
            </form>
        </div>

        <div class="grid_10">
            <p>本服務由<a href="http://handlino.com/">和多服份有限公司</a>提供。若覺得這個小服務還不錯，可以點擊這個 Paypal 捐款按鈕來贊助 MoreText 這個計畫。對於捐款者，我們獻上最高的感激。有任何建議，請<a href="http://handlino.com/">聯絡我們</a>，如果想知道我們的最新動態，可以追蹤<a href="http://twitter.com/handlino/">我們的 Twitter 帳號</a></p>
        </div>

        <div id="footer" class="grid_12 clearfix">
            <address>
                &copy; 2010 <a href="http://handlino.com/">Handlino Inc.</a>
                &nbsp;|&nbsp;
                <a href="http://twitter.com/handlino/">Follow us on Twitter</a>
            </address>
        </div>
    </div>

    </div></div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/moretext-1.0.js"></script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2945555-13']);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
