<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title class="lipsum"></title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/grid.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/moretext-1.0.js"></script>
    <script type="text/javascript">
$(function() {
    $("#button\\\:regenerate-text").bind("click", function() {
        $("*[class*=lipsum]").empty().moreText();
        return false;
    })
});
    </script>
</head>
<body>
    <div class="wrap container_12 clearfix">
        <div class="grid_12">
            <h1>The Chinese Lorem Ipsum You Love.</h1>
            <p class="lipsum"></p>
        </div>

        <div class="grid_12">
            <div class="grid_4 alpha">
                <blockquote>
                    <span class="quote-mark">“</span>
                    <span class="lipsum"></span>
                    <span class="quote-mark">”</span>
                    <br/><span class="author"> — <a href="http://handlino.com">Handlino</a></span>

                </blockquote>
            </div>

            <div class="grid_8 omega">
                <h2 class="lipsum"></h2>
                <div class="lipsum(5)"></div>
            </div>
        </div>

        <div class="grid_12">
            <h2>喜歡我們產生的文字嗎？你也可以在自己網站動態產生。</h2>
            <ul>
                <li>在你的網站加上這段語法：
                    <textarea class="sample-code" rows="5">
&lt;script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script src="http://more.handlino.com/javascripts/moretext-1.0.js" type="text/javascript"&gt;&lt;/script&gt;
                    </textarea>
                </li>
                <li>在想要填入文字的標籤加上 <code>class="ipsum(1)"</code>，括號裡的數字代表你希望填入多少句話。
                    <textarea class="sample-code" rows="2">
長官勉勵我們：「&lt;span class="lipsum"&gt;&lt;/span&gt;」
                    </textarea>
                </li>
                <li>搞定了！長官勉勵我們：「<span class="lipsum"></span>」
                </li>
                <li>有任何建議，請<a href="http://handlino.com/">聯絡我們</a>。</li>
            </ul>
        </div>

        <div class="grid_12">
            <div id="footer">
                <span class="fancy">Brought to you by</span><br /><a href="http://handlino.com/">Handlino.com</a>
            </div>
        </div>
    </div>

    <div id="control">
        <ul>
            <li><a href="javascript:void(0);" id="button:regenerate-text">Regenerate Text</a></li>

        </ul>
    </div>
</body>
</html>
