<!DOCTYPE HTML>
<html>
    <head>
<link rel="stylesheet" href="/stylesheets/leanback.css" type="text/css" media="screen" />
<script src="/javascripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="/javascripts/moretext-1.2.js" type="text/javascript"></script>
<script src="/javascripts/leanback.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="screen">
            <p></p>
        </div>

        <div id="loader">
            <p></p>
        </div>
    </body>
</html>

