
body {
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
  color: #333;
}

/* Headings
 * --------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 { color: #111; }

/* Text Elements
 * --------------------------------------------------------------------- */
a                 { color: #125AA7; }
a:hover           { color: #000; }
blockquote        { color: #666; }

pre {
  background: #eee;
  border:     1px solid #ddd;
}

hr {
  background: #B2CCFF;
  color:      #B2CCFF;
}

/* Tables
 * --------------------------------------------------------------------- */
table {
  border-top:     1px solid #ddd;
  border-left:    1px solid #ddd;
}
th,td {
  border-bottom:  1px solid #ddd;
  border-right:   1px solid #ddd;
}

/* Default Classes
 * --------------------------------------------------------------------- */
p.quiet { color: #666; }
.alt    { color: #666; }

p.title {
  color: #111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  margin-bottom: 0.75em;
}

#header p.title { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }

/* EOF */

.article {
    width: 100%;
    overflow: auto;
}

body {
    background: url(../images/bg.png) top repeat-x;
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
    color: #333;
}

#wrap-background {
    background: url(../images/wrap-bg.png) left top repeat-x;
}

#wrap-foreground {
    background: url(../images/wrap-fg.png) right top repeat-x;
}


a:link, a:visited {
    color: #8BB324;
    text-decoration: none;
}

a:hover, a:active {
    color: #EFA118;
    text-decoration: underline;
}

::selection {
    background: #8BB324; 
	color: white; /* Safari */
}

::-moz-selection {
    background: #8BB324; 
	color: white; /* Firefox */ 
}

/* Header
 * --------------------------------------------------------------------- */
 
#hd {
    margin-bottom: 40px;
    height: 126px;
    position: relative;
}

#hd .leafage {
    background: url(../images/leafage.png) no-repeat;
    width: 858px;
    height: 126px;
    position: absolute;
    right: 0px;
    z-index: 20;
}

#hd .sunshine {
    background: url(../images/sunshine.png) no-repeat;
    width: 634px;
    height: 112px;
    position: absolute;
    left: -80px;
    z-index: 10;
}

#hd h1 {
    height: 61px;
    position: absolute;
    top: 50px;
    z-index: 999;
}

#hd h1 a {
    display: block;
    height: 61px;
    color: black;
    text-shadow: 2px 2px 10px #777;;
}


/* Footer
 * --------------------------------------------------------------------- */
 
#footer {
    margin-top: 40px;
    padding-bottom: 40px;
}

#footer address {
    float: left;
}

#footer .logo {
    float: right;
    display: inline-block;
    background: url(../images/logo-small.png) top no-repeat;
    width: 163px;
    height: 24px;
    text-indent: -9999em;
    outline: none;
}

#footer .logo:hover {
    background: url(../images/logo-small.png) bottom no-repeat;
}

textarea.sample-code {
    display: block;
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
    background: #ffc;
}

q:before {
    content:"「";
}
q:after {
    content:"」";
}

a.tools {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-indent: -9999em;
}

.twitter {
    background: url(/images/icon-twitter.png) 0 0 no-repeat;
    margin: 0 4px 0 10px;
}

.plurk {
    background: url(/images/icon-plurk.png) 0 0 no-repeat;
    margin: 0 4px 0 0;
}

.facebook {
    background: url(/images/icon-facebook.png) 0 0 no-repeat;
}

#hd .tagline {
    position: absolute;
    top: 101px;
}

#tweet {
    min-height: 3em;
}