
body {
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
  color: #333;
}

/* Headings
 * --------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 { color: #111; }

/* Text Elements
 * --------------------------------------------------------------------- */
a                 { color: #125AA7; }
a:hover           { color: #000; }
blockquote        { color: #666; }

pre {
  background: #eee;
  border:     1px solid #ddd;
}

hr {
  background: #B2CCFF;
  color:      #B2CCFF;
}

/* Tables
 * --------------------------------------------------------------------- */
table {
  border-top:     1px solid #ddd;
  border-left:    1px solid #ddd;
}
th,td {
  border-bottom:  1px solid #ddd;
  border-right:   1px solid #ddd;
}

/* Default Classes
 * --------------------------------------------------------------------- */
p.quiet { color: #666; }
.alt    { color: #666; }

p.title {
  color: #111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  margin-bottom: 0.75em;
}

#header p.title { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }

/* EOF */

.article {
    width: 100%;
    overflow: auto;
}

body {
    background: url(../images/bg.png) top repeat-x;
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
    color: #333;
}

#wrap-background {
    background: url(../images/wrap-bg.png) left top repeat-x;
}

#wrap-foreground {
    background: url(../images/wrap-fg.png) right top repeat-x;
}


a:link, a:visited {
    color: #8BB324;
    text-decoration: none;
}

a:hover, a:active {
    color: #EFA118;
    text-decoration: underline;
}

::selection {
    background: #8BB324; 
	color: white; /* Safari */
}

::-moz-selection {
    background: #8BB324; 
	color: white; /* Firefox */ 
}

/* Header
 * --------------------------------------------------------------------- */
 
#hd {
    margin-bottom: 40px;
    height: 126px;
    position: relative;
}

#hd .leafage {
    background: url(../images/leafage.png) no-repeat;
    width: 858px;
    height: 126px;
    position: absolute;
    right: 0px;
    z-index: 20;
}

#hd .sunshine {
    background: url(../images/sunshine.png) no-repeat;
    width: 634px;
    height: 112px;
    position: absolute;
    left: -80px;
    z-index: 10;
}

#hd h1 {
    width: 515px;
    height: 61px;
    position: absolute;
    top: 50px;
    z-index: 999;
}

#hd h1 a {
    display: block;
    width: 515px;
    height: 61px;
    color: black;
    text-shadow: 2px 2px 10px #777;;
}


/* Projects item
 * --------------------------------------------------------------------- */

.projects-block ul, 
.projects-block ol, 
.projects-block li {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.projects-block {
    margin-right: 20px;
}

.projects-block .block {
    margin-bottom: 20px;
}

.projects-block h2 {
    color: #666;
}

.projects-item li {
    border-bottom: 1px #ddd dashed;
    margin-bottom: 10px;
}

.projects-item li h3  {
    margin-bottom: 4px;
}

.projects-item li h3 a {
    display: inline-block;
    background: url(../images/icon-item.png) left no-repeat;
    padding-left: 32px;
}

/* Sidebar
 * --------------------------------------------------------------------- */

#sidebar h3 {
    color: #666;
    font-size: 140%;
}

#twitter_div {
    position: relative;
}

#twitter-link {
    background: url(../images/twitter-bird.png) no-repeat;
    width: 112px;
    height: 64px;
    position: absolute;
    right: -18px;
    top: -6px;
    text-indent: -9999em;
    outline: none;
    z-index: 100;
}

#twitter_update_list li {
    background: #F5F5F5;
    list-style-type: none;
    margin: 0;
    margin-bottom: 4px;
    padding: 12px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#twitter_update_list li a {
    color: #EFA118;
}

/* Footer
 * --------------------------------------------------------------------- */
 
#footer {
    margin-top: 40px;
    padding-bottom: 40px;
}

#footer address {
    float: left;
}

#footer .logo {
    float: right;
    display: inline-block;
    background: url(../images/logo-small.png) top no-repeat;
    width: 163px;
    height: 24px;
    text-indent: -9999em;
    outline: none;
}

#footer .logo:hover {
    background: url(../images/logo-small.png) bottom no-repeat;
}

textarea.sample-code {
    display: block;
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
    background: #ffc;
}
