@import "compass";
@import "compass/reset";

$base-font-size: 16px;
$base-line-height: 32px;

body {
    background: url(/pictures/1/960x960.jpg) top left no-repeat;
    background-size: 100%;
}

#screen {
    margin: 0 auto;
    width: 960px;
    height: 500px;
    @include text-shadow(0px 0px 10px #fff);
}

#loader {
    visibility:hidden;
    position: absolute;
    left: -99999px;
    top:  -99999px;
}
